body{
	font-size : 100%;
	background-color: #ffffff;
	line-height : 150%;
	text-align: justify;
	text-justify: inter-word;
	font-family : courier-new, monospace;
	width : 90%;
	margin: auto;
	padding: 5px;
}
nav{
	font-size: 110%;
}
h1{
	font-size: 150%;
}
h2{
	font-size: 110%;
}

footer{
	text-align:center;
	font-size:80%;
}
img{
	max-width:100%;
	height:auto;

}
